<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

    <!-- Annotation-based beans -->
    <context:component-scan base-package="de.diedavids.cuba.dataimport"/>
    <bean id="cubaDataSource_me" class="com.haulmont.cuba.core.sys.CubaDataSourceFactoryBean">
        <property name="storeName" value="me"/>
    </bean>
    <bean id="entityManagerFactory_me" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
          lazy-init="false">
        <property name="persistenceXmlLocation" value="file:${cuba.dataDir}/me-persistence.xml"/>
        <property name="dataSource" ref="cubaDataSource_me"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
    </bean>
    <bean id="transactionManager_me" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory_me"/>
        <property name="dataSource" ref="cubaDataSource_me"/>
        <qualifier type="org.springframework.beans.factory.annotation.Qualifier" value="me"/>
    </bean>

</beans>
